<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/booking.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="col navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow py-3" style="background-color: #fff8f7">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 512 512" width="30" height="30">
                        <path d="M48,272H90.523a23.832,23.832,0,0,0,6.393,25.692l65.678,60.2.006-.006c.055.05.1.106.161.154L266.554,448H264a8,8,0,0,0-8,8v32a8,8,0,0,0,8,8h96a8,8,0,0,0,8-8V456a8,8,0,0,0-8-8V435.313l4.284-4.284A39.735,39.735,0,0,0,376,402.745V353.733l29-63.8A23.884,23.884,0,0,0,405.776,272H464a24.028,24.028,0,0,0,24-24V232a8,8,0,0,0-8-8H448v-8c0-92.636-75.364-168-168-168V32h8a8,8,0,0,0,0-16H224a8,8,0,0,0,0,16h8V48C139.364,48,64,123.364,64,216v8H32a8,8,0,0,0-8,8v16A24.028,24.028,0,0,0,48,272Zm57.677,5.1a7.823,7.823,0,0,1,7.456-5.1H117.7a8.016,8.016,0,0,1,7.283,4.689l6.014,13.23,0,.012,13.48,29.655L107.727,285.9A7.823,7.823,0,0,1,105.677,277.1ZM352,480H272V464h80Zm37.878-204.331a7.864,7.864,0,0,1,.557,7.641l-29.718,65.379A8.013,8.013,0,0,0,360,352v50.745a23.847,23.847,0,0,1-7.029,16.971l-6.628,6.627A8,8,0,0,0,344,432v16H290.984L174.56,347.1l-29-63.789A8,8,0,0,1,152.848,272h5.263a7.956,7.956,0,0,1,7.156,4.422l27.578,55.156a8,8,0,0,0,4.184,3.85l80,32a8,8,0,0,0,4.911.333l32-8a8,8,0,0,0,5.083-3.93l43.452-79.662A8,8,0,0,1,369.5,272h13.654A7.864,7.864,0,0,1,389.878,275.669ZM180.944,272h165.58l-39.867,73.09-26.088,6.521L205.8,321.7ZM248,32h16V48H248ZM80,216c0-83.813,68.187-152,152-152h48c83.813,0,152,68.187,152,152v8H80ZM40,240H472v8a8.009,8.009,0,0,1-8,8H48a8.009,8.009,0,0,1-8-8Z" />
                    </svg>
                    <span style="font-family:'Bernadette Rough';">
                        Belvidere
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-common item-link h5 mb-0 " asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-common item-link h5 mb-0 " asp-area="" asp-controller="Home" asp-action="Menu">Меню</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-common item-link h5 mb-0 " asp-area="" asp-controller="Booking" asp-action="Index">Бронирование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-common item-link h5 mb-0 " asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                        </li>
                    </ul>
                </div>

                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                        <ul class="navbar-nav flex-grow-1 ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-common item-link h5 mb-0 " asp-controller="Account" asp-action="Login">
                                    Войти
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-common item-link h5 mb-0 " asp-controller="Account" asp-action="Register">
                                    Регистрация
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                        <ul class="navbar-nav flex-grow-1 ml-auto" asp-area="" asp-controller="Account" asp-action="Login">
                            <li class="nav-item ">
                                <a class="nav-link text-common item-link h5 mb-0 " asp-controller="Users" asp-action="Index">
                                    Профиль
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container max-h">
        <main role="main" class="min-vh-100 pb-3">
            @RenderBody()
            <div id="btncircle">

            </div>
        </main>
    </div>

    <footer class="p-5" style="       
        margin-top: 30px;
        bottom: 0px;
        background-color: #fff8f7">
        <div class="container m-auto row pb-3">
            <div class="col-sm-3">
                <h5 class="hblue">Популярное</h5>
                <ul class="nomarkers pl-0">
                    <li>Карбонара</li>
                    <li>Ризотто</li>
                    <li>Болоньезе</li>
                    <li>Рикотта</li>
                    <li>Кассатиелла</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="hblue">Быстрый доступ</h5>
                <ul class="nomarkers pl-0">
                    <li>Главная</li>
                    <li>Профиль</li>
                    <li>Бронирование</li>
                    <li>Меню</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="hblue">Контакты</h5>
                <ul class="nomarkers pl-0">
                    <li>A1. +375(44) 444-44-44</li>
                    <li>MTC. +375(44) 444-44-44</li>
                    <li>Life:). +375(44) 444-44-44</li>
                    <li>E-mail. belivid.rest@gmail.com</li>
                </ul>
            </div>
            <div class="col-md">
                <h5 class="hblue">Мы в соцсетях</h5>
                <ul class="nomarkers pl-0 ">
                    <li class="d-inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#2f2d4e" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                        </svg>
                    </li>
                    <li class="d-inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#2f2d4e" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                        </svg>
                    </li>
                    <li class="d-inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#2f2d4e" class="bi bi-instagram" viewBox="0 0 16 16">
                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                        </svg>
                    </li>
                    <li class="d-inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#2f2d4e" class="bi bi-telegram" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" />
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            


            $.ajax({
                type: "GET",
                url: "@Url.Action("CircleBtn", "Home")",
                success: function (msg) {
                    console.log(msg);
                    $("#btncircle").replaceWith(msg);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        });

        $('.item-link').click(function (e) {
            $('.item-link').addClass("active");
            $(this).removeClass("active");
        });
    </script>
</body>
</html>
