@model Restaurant.ViewModels.LoginViewModel


<div class="card col-md-6 px-0 shadow m-0 ml-auto mr-auto flex-column mt-5">
    <div class="h3 card-header bg-lightred py-4 text-center" style="color: white">
        Авторизация
    </div>
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group col-sm-7 px-0 mx-auto mb-3">
                <label class="col-sm card-title" asp-for="Email"></label>
                <input class="form-control input-group-sm" asp-for="Email" />
                <span class="form-text text-muted" asp-validation-for="Email"></span>
            </div>
            <div class="form-group col-sm-7 px-0 mx-auto mb-3">
                <label class="col-sm card-title" asp-for="Password"></label>
                <input class="form-control input-group-sm" asp-for="Password" />
                <span class="form-text text-muted" asp-validation-for="Password"></span>
            </div>
            <div class="col-sm-7 px-0 mx-auto mb-3">
                <div class="form-check col-sm-10 px-0 mx-auto">
                    <input class="ml-1 form-check-input" asp-for="RememberMe" />
                    <label class="ml-4 control-label" asp-for="RememberMe"></label>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center pt-3 pb-4">
            <input class="btn btn-common" type="submit" value="Войти" />
        </div>
    </form>
</div>
<a asp-action="Index" asp-controller="Home" class="nav-link text-center text-dark h5 mt-4"><u>Отмена</u></a>
