@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-5 pr-0">
                <div class="row-padding pr-5">
                    <h1 class="header-high hblue">Окунитесь в мир Итальянской кухни!</h1>
                    <div>
                        <button asp-action="Menu" class="btn-order mx-auto mt-4" href="#">Заказать</button>
                    </div>
                </div>
                <div class="p-0">
                    <ul class="d-flex flex-row ul-no-markers pl-0">
                        <li class="pr-4 flex-sm-column text-center font-style-1">Свежесть</li>
                        <li class="pr-4 flex-sm-column text-center font-style-1 border border-3 border-top-0 border-bottom-0">Скорость</li>
                        <li class="pr-4 flex-sm-column text-center font-style-1">Мастерство</li>
                    </ul>
                </div>
            </div>
            <div class="image-container col-md d-none d-lg-block shadow-lg px-0">
            </div>
        </div>
    </div>

    <div class="margin-50"></div>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="image-container2 col-md d-none d-lg-block px-0 shadow-lg">
            </div>
            <div class="col-sm-5">
                <div class="row-padding pr-5">
                    <h1 class="header-high text-end hblue">Насладитесь атмосферой нашего ресторана</h1>
                    <div class="ml-1">
                        <button asp-action="Index" asp-controller="Booking" class="btn-order mx-auto mt-4" href="#">Забронировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-50"></div>

    <div class="container-fluid p-0">
        <div class="row">
            <h2 class="col-sm-2 pr-0"> Контакты </h2>
            <div class="col-md container-fluid p-0 m-0"><hr class="mt-4 hr-style-1" /></div>
        </div>
        <div class="map d-flex justify-content-center pt-5">
            <div class="map-1">
                <a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" class="map-2">Ссылка</a>
                <a href="https://yandex.by/maps/157/minsk/geo/31326023/?ll=27.559900%2C53.899114&utm_medium=mapframe&utm_source=maps&z=16.07" class="map-3">
                    Ссылка2
                </a>
                <iframe src="https://yandex.by/map-widget/v1/-/CCUYIMA0xA" width="720" height="400" frameborder="1" allowfullscreen="true" class="map-4">
                </iframe>
            </div>
        </div>
        <div class="container col-md-8 h4">
            <p align="center">
                Мы находимся по адерсу ул. Карла Маркса д. 41
            </p>
            <p align="center">
                Понедельник – Воскресенье: с 10-00 до 18-00
            </p>
            <hr/>
            <p align="center">
                Телефон: <span class="font-italic">+375 33 333-33-33</span>
            </p>
        </div>
    </div>
</div>
