@model IEnumerable<Restaurant.Models.Data.Dish>
<nav class="col navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger">
    <div class="navbar d-sm-inline-flex flex-sm-row">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light">Спагетти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Спагетти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Спагетти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Спагетти</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    @{
        foreach (var d in Model)
        {
            <div>
                @d.Name
            </div>
        }
    }
</div>
