@model Restaurant.ViewModels.Step1ViewModel
@{
    string date = DateTime.Today.Year.ToString() + "-" +
        DateTime.Today.Month.ToString() + "-" +
        DateTime.Today.Day.ToString();
}
<div class="my-3 px-2" id="menu">
    <div class="row col-md mx-0 d-flex justify-content-center" style="min-height:60px; max-height:180px">

        <div class="col-sm row align-middle arrow-active mx-1 d-flex align-items-center">
            <div class="h4 col-1 p-0 m-0 circle-bw text-center">
                1
            </div>
            <div class="h3 m-0 col align-middle">
                Выбор даты
            </div>
        </div>

        <div class="col-sm row arrow align-middle mx-1 d-flex align-items-center">
            <div class="h4 col-1 p-0 m-0 circle-b text-center">
                2
            </div>
            <div class="h3 m-0 col align-middle">
                Выбор стола
            </div>
        </div>

        <div class="col-sm row arrow align-middle mx-1 d-flex align-items-center">
            <div class="h4 col-1 p-0 m-0 circle-b text-center">
                3
            </div>
            <div class="h3 m-0 col align-middle">
                Финал
            </div>
        </div>
    </div>
</div>
<hr />
<div class="card px-0 col-md-6 mt-5 mx-auto">
    <div class="card-body p-0">
        <form class="m-auto pt-5"
              asp-action="Step1"
              asp-controller="Booking"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#steplayout">
            <div class="px-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group col-sm-7 mx-auto mb-3">
                    <label class="col-sm card-title" asp-for="Date"></label><br />
                    <input class="form-control input-group-sm" type="date" min="@DateTime.Today" value="@date" asp-for="Date" />
                    <span class="form-text text-muted" asp-validation-for="Date"></span>
                </div>
                <div class="form-group col-sm-7 mx-auto mb-3">
                    <label class="col-sm card-title" asp-for="Persons"></label><br />
                    <input class="form-control input-group-sm" type="number" min="1" max="12" value="1" asp-for="Persons" />
                    <span class="form-text text-muted" asp-validation-for="Persons"></span>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center mt-5">
                <input class="btn btn-common" type="submit" value="Найти столы" />
            </div>
        </form>
    </div>
</div>