<div class="container mt-2 mb-2">
    <h1 class="text-center text-common">Бронирование</h1>
    
    <div id="steplayout">
        @await Html.PartialAsync("_Step1")
    </div>
    <br class="my-3" />
</div>
