.circle-b {
    border-color: #2f2d4e;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
}

.circle-bw {
    color: white;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
}

.arrow {
    max-width: 280px;
    max-height: 60px;
}

.arrow-active {
    color: white;
    background-color: #E22104;
    max-width: 280px;
    max-height: 60px;
}

    .arrow-active::before {
        position: absolute;
        content: '';
        left: -30px;
        border: 30px solid;
        border-color: #E22104 #E22104 #E22104 transparent;
    }

    .arrow-active::after {
        position: absolute;
        content: '';
        left: 240px;
        border: 30px solid;
        border-color: white white white #E22104;
    }
