/*@keyframes mainFadeInOut {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#main1 img.img1 {

    animation-delay: 6s;
}

#main1 img.img2 {

    animation-delay: 4s;
}

#main img.img3 {

    animation-delay: 2s;
}

#main img.img4 {

    animation-delay: 0s;
}

*/