/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
    color: #2f2d4e;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.row-padding {
    padding-top: 210px;
    padding-bottom: 90px;
}

.font-style-1 {
    font-size: 12pt;
    width: 100%;
}

.ul-no-markers {
    list-style: none;
}

.header-high {
    font-size: 60px;
}

.margin-right-1 {
    padding-right: 140px;
}

.margin-50 {
    margin: 110px;
}

.bg-lightred {
    background-color: #E22104;
}

.btn-order {
    height: 60px;
    width: 200px;
    background-color: #E22104;
    font-size: 14pt;
    color: white;
    border: solid #E22104 3px;
    border-radius: 30px;
    box-shadow: 0 10px 25px 0 #808080;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.btn-order:hover {
    font-size: 16pt;
}

.hr-style-1 {
    height: 2px;
    background-color: #E22104;
    border: none;
}

.map-1 {
    position: relative;
    overflow: hidden;
}

.map-2 {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0px;
}

.map-3 {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 14px;
}

.map-4 {
    position: relative;
}

.max-h {
    width: 100vw;
    min-height: 100vh;
}

.nomarkers {
    list-style: none;
}

my-50{
    margin-top:50%;
    margin-bottom: 50%;
}

.btn-circle{
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    background-color: #E22104;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 20px;
    top: 85%;
}

.btn-circle-icon{
    height: 25px;
    width: 25px;
    background-color: white;
    position: fixed;
    color: darkorange;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: darkorange;
    right: 75px;
    top: 92%;
}

.text-common {
    color: #2f2d4e !important;
}

.bg-lightgray{
    color: #6d6d6d;
}

.hand-pointer:hover {
    cursor: pointer;
}

.fix-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-item-s {
    color: #2f2d4e !important;
    font-family: 'Palatino Linotype';
}