@model Restaurant.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<div class="card shadow col-md-6 px-0 m-0 ml-auto mr-auto flex-column mt-5 shadow">
    <div class="h3 card-header bg-lightred py-4 text-center" style="color: white">
        Добавление пользователя
    </div>
    <form asp-action="Create" asp-controller="Users" >
        <div class="px-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-sm-7 px-0 mx-auto mb-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group col-sm-7 px-0 mx-auto mb-3">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="form-group col-sm-7 px-0 mx-auto mb-3">
                <label asp-for="PersonName" class="control-label">Имя</label>
                <input type="text" asp-for="PersonName" class="form-control" />
            </div>
            <div class="form-group col-sm-7 px-0 mx-auto mb-5">
                <label asp-for="PersonSurname" class="control-label">Фамилия</label>
                <input type="text" asp-for="PersonSurname" class="form-control" />
            </div>
            <div class="col-sm-7 px-0 mx-auto mb-5">
                <label>Роль пользователя</label>
                <div class="form-check col-sm-10 px-0 mx-auto">
                    <input class="ml-1 form-check-input" type="radio" asp-for="Role" name="role" value="user" />
                    <label class="ml-4 control-label">Пользователь</label>
                </div>
                <div class="form-check col-sm-10 px-0 mx-auto">
                    <input class="ml-1 form-check-input" type="radio" asp-for="Role" name="role" value="employee" />
                    <label class="ml-4 control-label">Работник</label>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center pt-3 pb-4">
            <input type="submit" value="Добавить" class="btn btn-common mx-1" />
        </div>
    </form>
</div>
<a asp-action="Index" class="nav-link text-center text-dark h5 mt-4"><u>Отмена</u></a>
