@model Restaurant.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<div class="card w-50 shadow m-0 ml-auto mr-auto flex-column mt-5 shadow">
    <div class="h4 card-header bg-danger text-center" style="color: white">
        Добавление пользователя
    </div>
    <form asp-action="Create" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group col-sm-7 px-0 mx-auto mb-3">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group col-sm-7 px-0 mx-auto mb-3">
            <label asp-for="Password" class="control-label">Пароль</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group col-sm-7 px-0 mx-auto mb-3">
            <label asp-for="PersonName" class="control-label">Имя</label>
            <input type="text" asp-for="PersonName" class="form-control" />
        </div>
        <div class="form-group col-sm-7 px-0 mx-auto mb-5">
            <label asp-for="PersonSurname" class="control-label">Фамилия</label>
            <input type="text" asp-for="PersonSurname" class="form-control" />
        </div>
        <div class="card-footer d-flex justify-content-center pt-3 pb-4">
            <input type="submit" value="Добавить" class="btn btn-danger mx-1" />
            <a asp-action="Index" class="btn btn-secondary mx-1 text-light">Отмена</a>
        </div>
    </form>
</div>
